<footer class="footer bg-dark">
  <div class="container text-center">
    <span class="text-light">
      <a href="/" class="text-light text-decoration-none">
        <i class="far fa-bookmark"></i>&nbsp;Bookmark Manager
      </a>
    </span>
  </div>
</footer>