<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <title>Login - Bookmark Manager</title>

  <meta name="description" content="Easily manage your web page bookmarks.">

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&family=Work+Sans:wght@700&display=swap" />
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  <link rel="stylesheet" type="text/css" href="/styles/login.css" />
</head>

<body>
  <div class="container login-container">
    <div class="row">
      <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="card rounded shadow shadow-sm text-center">
              <div class="card-header">
                <h2 class="mb-0"><i class="far fa-bookmark"></i> <br> Bookmark Manager</h2>
              </div>
              <div class="card-body">
                <p class="lead message">Easily manage web page bookmarks</p>
                <hr>
                <a href="/auth/google">
                  <div class="g-sign-in-button">
                    <div class="content-wrapper">
                      <div class="logo-wrapper">
                        <img src="/images/g-logo.png" alt="Google logo" />
                      </div>
                      <span class="text-container">
                        <span>Sign in with Google</span>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>